.TragosAPI {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  .containerLoading{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10rem;
    .iconLoading{
      padding: 5px;
      
    }

  }

  .cad{
    width: calc(25% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #7775;
    padding: 10px;
    h2{
      text-align: center;
    }
  }
}