.About {
  background-color: #8888;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 74vh;
  padding: 15px 5px;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 20px;
}
