.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  height: 7rem;
  border-radius: 12px;
  background-color: #313131;
  padding: 0px 20px;
  margin: 0px 10px 10px 10px;
  .div__logo{
    h1{
      color: #898989;
    }
  }
  .div__ul__links{
    display: flex;
    .ul__links{
      display: flex;
      list-style: none;
      .links{
        color: #898989;
        display: block;
        padding: 6px 12px;
      }
    }
  }
}
